<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-8">
    <h1>Profile Image Overlay</h1>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <% if current_user %>
      <%= current_user[:name] %>
      <%= image_tag current_user[:image_url], width: 100 %>
    <% end %>
  </div>
</div>

<div class="row">
  <% @overlay_images.each do |image|  %>
    <div class="col-md-3 col-sm-3 col-xs-3">
      <p><%= image_tag image, width: 200 %></p>
      <p><%= image_tag "#{current_user[:id]}_#{image}", width: 200 %></p>
      <p><%= link_to 'Publish', publish_path(image: image.split('.').first), class: 'btn btn-primary' %></p>
    </div>
  <% end %>
</div>
