<!DOCTYPE html>
<html>
<head>
  <title>NP Profile Image Overlay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" id="wrapper">
    <header>
      <%= render 'layouts/header' %>
      <%= render 'layouts/flash' %>
    </header>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
