<!DOCTYPE html>
<html>
<head>
  <title>ProfileOverlay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" id="wrapper">
    <header>
      <%= render 'layouts/header' %>
      <%= render 'layouts/flash' %>
    </header>

    <%= yield %>

    <footer>
      <p class="col-md-12 col-sm-12 col-xs-12">
        Copyright &copy; 2015. All Rights Reserved. Developed with
        <span class="glyphicon glyphicon-heart"></span>
        by Lal Bahadur Saud. Source code shared @
        <a href="https://github.com/lalusaud/profile_overlay" target="_blank">Github</a>.
        Overlay images credit by various artists.
      </p>
    </footer>
  </div>
</body>
</html>
